@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid" style="background-color: #FAFAFA;">
    <div class="container-sm">
        <div class="row d-flex justify-content-between mb-4">
            <div class="col">
                <div class="row mb-4">
                    <div class="col">
                        <div class="card border-0 shadow-sm">
                            <div class="card-body">
                                <div class="row mr-1 ml-1 d-flex justify-content-between">
                                    <div class="col-10">
                                        <input class="form-control" type="text" placeholder="Cari artikel...">
                                    </div>
                                    <a role="button" class="col-2 btn" style="background-color: #FC7666;">
                                        <img src="~/img/send-exclamation-fill.svg" class="iconsvg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-bigpost">
                    <a href="#">
                        <img class="bigpost" src="~/img/default.png" alt="">
                        <div class="desk-bigpost">
                            <h3 class="text-white font-weight-bold">Aturan Yang Selalu Ada Dalam <br> Buku Sigma Male</h3>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col">
                <div class="row bg-white masidebar d-flex justify-content-end shadow-sm ml-1">
                    <div class="col-12 d-flex justify-content-center">
                        <div class="card border-0" style="width: 22rem;">
                            <div class="card-body">
                                <h6 class="font-weight-bold text-macolor">ARTIKEL POPULER</h6>
                                <hr>
                                <div class="row mb-2">
                                    <div class="col-4">
                                        <img class="rounded" src="~/img/gambar1.jpg" width="100px" height="100px" alt="">                                     
                                    </div>
                                    <div class="col-8 text-dark">
                                        <div class="row d-flex justify-content-start p-3">
                                            <a href="#" class="text-dark">Mengapa Setiap orang Harus Belajar Coding</a>
                                            <p class="text-macolor" style="font-size: 9pt;">1821 Pengunjung &nbsp; 344 Komentar</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-4">
                                        <img class="rounded" src="~/img/gambar2.png" width="100px" height="100px" alt="">
                                    </div>
                                    <div class="col-8 text-dark">
                                        <div class="row d-flex justify-content-start p-3">
                                            <a href="#" class="text-dark">Kopi: Memperkenalkan Diri Sendiri</a>
                                            <p class="text-macolor" style="font-size: 9pt;">1690 Pengunjung &nbsp; 299 Komentar</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <img class="rounded" src="~/img/gambar3.jpg" width="100px" height="100px" alt="">
                                    </div>
                                    <div class="col-8 text-dark">
                                        <div class="row d-flex justify-content-start p-3">
                                            <a href="#" class="text-dark">Mengenal Kapal Induk USS Gerald R. Ford</a>
                                            <p class="text-macolor" style="font-size: 9pt;">1230 Pengunjung &nbsp; 311 Komentar</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="text-macolor d-flex justify-content-center mb-4">Lainnya</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-between mb-4">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="card border-0 shadow-sm">
                            <div class="card-body">
                                <h6 class="font-weight-bold text-macolor">KATA KUNCI POPULER</h6>
                                <hr>
                                <div class="row mr-1 ml-1 d-flex justify-content-between">
                                    <div class="card" style="width: 14rem;">
                                        <button class="btn btn-sm btn-info">Sigma</button>
                                    </div>
                                    <div class="card" style="width: 14rem;">
                                        <button class="btn btn-sm btn-info">Programmer</button>
                                    </div>
                                    <div class="card" style="width: 14rem;">
                                        <button class="btn btn-sm btn-info">Kehidupan</button>
                                    </div>
                                    <div class="card" style="width: 14rem;">
                                        <button class="btn btn-sm btn-info">Pria</button>
                                    </div>
                                    <div class="card" style="width: 14rem;">
                                        <button class="btn btn-sm btn-info">Kesehatan</button>
                                    </div>
                                    <div class="card" style="width: 14rem;">
                                        <button class="btn btn-sm btn-info">China</button>
                                    </div>
                                    <div class="card" style="width: 14rem;">
                                        <button class="btn btn-sm btn-info">JavaScript</button>
                                    </div>
                                    <div class="card" style="width: 14rem;">
                                        <button class="btn btn-sm btn-info">Komputer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="card border-0 shadow-sm">
                            <div class="card-body">
                                <h6 class="font-weight-bold text-macolor">ARTIKEL TERBARU</h6>
                                <hr>
                                <div class="row mr-1 ml-1 d-flex justify-content-between">
                                    <div class="card" style="width: 14rem;">
                                        <img class="card-img-top" src="~/img/art1.jpeg" alt="">
                                        <div class="card-body">
                                            <a href="#">
                                                <h6 class="font-weight-bold text-dark">Seni Hidup Sederhana Untuk Puncak Kebahagian</h6>
                                            </a>
                                            <p class="text-macolor" style="font-size: 9pt;">129 Pengunjung &nbsp; 129 Komentar</p>
                                        </div>
                                    </div>
                                   <div class="card" style="width: 14rem;">
                                        <img class="card-img-top" src="~/img/art2.jpg" alt="">
                                        <div class="card-body">
                                            <a href="">
                                                <h6 class="font-weight-bold text-dark">Kenali Fitur Terbaru Pada Windows 11</h6>
                                            </a>
                                            <p class="text-macolor" style="font-size: 9pt;">23 Pengunjung &nbsp; 19 Komentar</p>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 14rem;">
                                        <img class="card-img-top" src="~/img/art3.jpg" alt="">
                                        <div class="card-body">
                                            <a href="">
                                                <h6 class="font-weight-bold text-dark">10 Laptop Terbaik Untuk Anak Informatika</h6>
                                            </a>
                                            <p class="text-macolor" style="font-size: 9pt;">129 Pengunjung &nbsp; 129 Komentar</p>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 14rem;">
                                        <img class="card-img-top" src="~/img/art4.jpg" alt="">
                                        <div class="card-body">
                                            <a href="#">
                                                <h6 class="font-weight-bold text-dark">Seni Hidup Sederhana Untuk Puncak Kebahagian</h6>
                                            </a>
                                            <p class="text-macolor" style="font-size: 9pt;">129 Pengunjung &nbsp; 129 Komentar</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>