@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid" style="background-color: #FAFAFA;">
    <div class="container-sm">
        <div class="row d-flex justify-content-between mb-4">
            <div class="col">
                <div class="row mb-4">
                    <div class="col">
                        <div class="card border-0 shadow-sm">
                            <div class="card-body">
                                <div class="row mr-1 ml-1 d-flex justify-content-between">
                                    <div class="col-10">
                                        <input class="form-control" type="text" placeholder="Cari buku...">
                                    </div>
                                    <a role="button" class="col-2 btn" style="background-color: #FC7666;">
                                        <img src="~/img/send-exclamation-fill.svg"s class="iconsvg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-bigpost">
                    <a href="#">
                        <img class="bigpost" src="~/img/bukuselfimpro.jpeg" alt="">
                        <div class="desk-bigpost">
                            <h3 class="text-white font-weight-bold">Daftar Buku Pengembangan Diri Yang Wajib Dibaca</h3>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col">
                <div class="row bg-white masidebar d-flex justify-content-end shadow-sm ml-1">
                    <div class="col-12 d-flex justify-content-center">
                        <div class="card border-0" style="width: 22rem;">
                            <div class="card-body">
                                <h6 class="font-weight-bold text-macolor">BUKU POPULER</h6>
                                <hr>
                                <div class="row mb-2">
                                    <div class="col-4">
                                        <a href="">
                                            <img class="rounded" src="~/img/buku1.jpg" width="100px" height="150px" alt="">
                                        </a>
                                    </div>
                                    <div class="col-8 text-dark">
                                        <div class="row d-flex justify-content-start p-3">
                                                <a href="#" class="text-dark">Sebuah Seni Untuk Bersikap Bodo Amat</a>
                                                <p class="text-macolor mb-2" style="font-size: 9pt;">
                                                    Pengarang : Mark Manson <br>
                                                    Penerbit : Grasindo <br>
                                                    Rp. 88.000 <br>
                                                    1821 Jumlah Pembeli <br>
                                                </p>
                                         </div>
                                    </div>
                                </div>
                                <div class="row mb-2" style="border: 5px;">
                                    <div class="col-4">
                                        <a href="">
                                            <img class="rounded" src="~/img/buku2.jpg" width="100px" height="150px" alt="">
                                        </a>
                                    </div>
                                    <div class="col-8 text-dark">
                                        <div class="row d-flex justify-content-start p-3">
                                                <a href="#" class="text-dark">Dasar-Dasar Teknik Informatika</a>
                                                <p class="text-macolor mb-2" style="font-size: 9pt;">
                                                    Pengarang : Novega Pratama Adipura <br>
                                                    Penerbit : Deepublish <br>
                                                    Rp. 86.000 <br>
                                                    1821 Jumlah Pembeli <br>
                                                </p>
                                         </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-4">
                                        <a href="">
                                            <img class="rounded" src="~/img/beranda1.jpg" width="100px" height="150px" alt="">
                                        </a>
                                    </div>
                                    <div class="col-8 text-dark">
                                        <div class="row  d-flex justify-content-start p-3">
                                                <a href="#" class="text-dark">Lessons In Chesmistry</a>
                                                <p class="text-macolor mb-2" style="font-size: 9pt;">
                                                    Pengarang : Bonnie Garmus <br>
                                                    Penerbit : Random House USA Inc <br>
                                                    Rp. 288.000 <br>
                                                    1821 Jumlah Pembeli <br>
                                                </p>
                                         </div>
                                    </div>
                                </div>
                            </div>
                            <a class="text-macolor d-flex justify-content-center mb-4">Lainnya</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-between mb-4">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="card border-0 shadow-sm">
                            <div class="card-body">
                                <h6 class="font-weight-bold text-macolor">KATA KUNCI POPULER</h6>
                                <hr>
                                <div class="row mr-1 ml-1 d-flex justify-content-between">
                                    <div class="card" style="width: 14rem;">
                                        <button class="btn btn-sm btn-info">Informatika</button>
                                    </div>
                                    <div class="card" style="width: 14rem;">
                                        <button class="btn btn-sm btn-info">IPTEK</button>
                                    </div>
                                    <div class="card" style="width: 14rem;">
                                        <button class="btn btn-sm btn-info">Ilmu</button>
                                    </div>
                                    <div class="card" style="width: 14rem;">
                                        <button class="btn btn-sm btn-info">Pria</button>
                                    </div>
                                    <div class="card" style="width: 14rem;">
                                        <button class="btn btn-sm btn-info">Kesehatan</button>
                                    </div>
                                    <div class="card" style="width: 14rem;">
                                        <button class="btn btn-sm btn-info">Piala Dunia</button>
                                    </div>
                                    <div class="card" style="width: 14rem;">
                                        <button class="btn btn-sm btn-info">JavaScript</button>
                                    </div>
                                    <div class="card" style="width: 14rem;">
                                        <button class="btn btn-sm btn-info">Komputer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="card border-0 shadow-sm">
                            <div class="card-body">
                                <h6 class="font-weight-bold text-macolor">BUKU TERBARU</h6>
                                <hr>
                                <div class="row mr-1 ml-1 d-flex justify-content-between">
                                    <div class="card" style="width: 13rem;">
                                      <div class="card-body">
                                          <a href="" class="d-flex justify-content-between">
                                            <img class="rounded" src="~/img/buku3.jpg" width="80px" height="120px" alt="">
                                            <img class="rounded" src="~/img/buku4.png" width="80px" height="120px" alt="">
                                        </a>
                                        </div>
                                        <div class="card-body">
                                            <a href="#">
                                                <h6 class="font-weight-bold text-dark">Matahari Minor</h6>
                                            </a>
                                            <p class="text-macolor" style="font-size: 9pt;">Rp. 89.999</p>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 13rem;">
                                      <div class="card-body">
                                          <a href="" class="d-flex justify-content-between">
                                        <img class="rounded" src="~/img/buku5.jpg" width="80px" height="120px" alt="">
                                        <img class="rounded" src="~/img/buku6.jpg" width="80px" height="120px" alt="">
                                        </a>
                                        </div>
                                        <div class="card-body">
                                            <a href="#">
                                                <h6 class="font-weight-bold text-dark">Teknologi Untuk Masa Depan</h6>
                                            </a>
                                            <p class="text-macolor" style="font-size: 9pt;">Rp. 84.999</p>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 13rem;">
                                      <div class="card-body">
                                          <a href="" class="d-flex justify-content-between">
                                        <img class="rounded" src="~/img/buku7.jpg" width="80px" height="120px" alt="">
                                        <img class="rounded" src="~/img/buku8.jpg" width="80px" height="120px" alt="">
                                        </a>
                                        </div>
                                        <div class="card-body">
                                            <a href="#">
                                                <h6 class="font-weight-bold text-dark">Breath : Cara Bernapas Dengan Benar</h6>
                                            </a>
                                            <p class="text-macolor" style="font-size: 9pt;">Rp. 113.999</p>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 13rem;">
                                      <div class="card-body">
                                          <a href="" class="d-flex justify-content-between">
                                        <img class="rounded" src="~/img/buku9.jpg" width="80px" height="120px" alt="">
                                        <img class="rounded" src="~/img/buku10.jpg" width="80px" height="120px" alt="">
                                        </a>
                                        </div>
                                        <div class="card-body">
                                            <a href="#">
                                                <h6 class="font-weight-bold text-dark">Secret Of Divine Love</h6>
                                            </a>
                                            <p class="text-macolor" style="font-size: 9pt;">Rp. 159.999</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>